<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISmsService">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IEmailService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:49236/TongfangSimulator/SmsService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISmsService"
                contract="ISmsService" name="NetTcpBinding_ISmsService" />
            <endpoint address="net.tcp://localhost:49236/TongfangSimulator/EmailService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmailService"
                contract="IEmailService" name="NetTcpBinding_IEmailService" />
        </client>
    </system.serviceModel>
</configuration>